#gallerie{
    border: solid red 2px;
    flex-direction: column;
    #recents{
        text-align: center;
        font-family: 'Poppins', sans-serif;
        font-size: 120%;
    };
    .div-gall{
        display: flex;
        justify-content: center;

    .div-img-gall{
        width: 15%;  
        margin: 2%;

        div{
            img{
                height: 25vh;
                width: 90%;
            }
        };
    p{
            max-width: 35%;
            color: black;
    };
    // .para-gall{

    // }
    .rouge-gall{
        color: red;
    }


    };
    };
};