#gallerie{
    flex-direction: column;
    #recents{
        text-align: center;
        font-family: 'Poppins', sans-serif;
        font-size: 120%;
    };
    .div-gall{
        display: flex;
        justify-content: center;

    .div-img-gall{
        width: 15%;  
        margin: 2%;

        div{
            img{
                height: 25vh;
                width: 90%;
            }
        };
        .para-gallS{
            text-align: center;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        };
        .rouge-gallS{
            color: red;
            text-align: center;
            font-size: 120%;
        };

    .sale-border-div{
        display: flex;
        justify-content: center;
        align-items: center;
        .redborder{
            border-radius: 50em/50em;
            background-color: red;
            height: 40px;
            width: 65px;
            text-align:center;
            padding-top: 10%;
            margin-right: 4%;
            color: white;

        }

        .price-div{

        p{
                max-width: 25%;
                color: black;
                font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
        };
        .rouge-gall{
            color: red;
        }
        .textBarre{
            text-decoration:line-through;
            color: grey;
        };
        };
    };
    };
    };
};

@media (min-width:320px) and (max-width:640px){
    #gallerie{
        flex-direction: column;

        .div-gall{
        .div-img-gall{
            width: 15%;  
            margin: 2%;
    
            div{
                img{
                    height: 120%;
                    width: 120%;
                }
            };
            .para-gallS{
                font-size: 75%
            };
            .rouge-gallS{
                font-size: 75%
            };

    
        .sale-border-div{
            display: flex;
            justify-content: center;
            align-items: center;
            .redborder{
                display: none;
            };
 
            .price-div{
            p{
                    font-size: 55%;
                    color: black;
                    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
            };
            .rouge-gall{
                color: red;
                font-size: 55%;

            }
            .textBarre{
                text-decoration:line-through;
                color: grey;
                font-size: 55%;

                
            };
            };
        };
        };
        };
    };
};





@media (min-width:641px) and (max-width:960px){
    #gallerie{
        flex-direction: column;

        .div-gall{
        .div-img-gall{
            width: 15%;  
            margin: 2%;
    
            div{
                img{
                    height: 120%;
                    width: 120%;
                }
            };
            .para-gallS{
                font-size: 75%
            };
            .rouge-gallS{
                font-size: 75%
            };

    
        .sale-border-div{
            display: flex;
            justify-content: center;
            align-items: center;
            .redborder{
                display: none;
            };
 
            .price-div{
            p{
                    font-size: 55%;
                    color: black;
                    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
            };
            .rouge-gall{
                color: red;
                font-size: 55%;

            }
            .textBarre{
                text-decoration:line-through;
                color: grey;
                font-size: 55%;     
            };
            };
        };
        };
        };
    };
};