#gallerie{
    flex-direction: column;
    #recents{
        text-align: center;
        font-family: 'Poppins', sans-serif;
        font-size: 120%;
    };


    .div-gall{
        display: flex;
        justify-content: center;
    .div-img-gall:hover{

    .double{
                opacity: 1;
            };
        };

    .div-img-gall{
        position: relative;
        overflow: hidden;
        transition: 0.5s;
        width: 15%;  
        margin: 2%;

        .double{
            display: flex;
            position: absolute;
            justify-content: center;
            align-items: center;
            bottom: 36%;
            width: 100%;
            z-index: 2;
            opacity: 0;
            transition: 0.5s ease-in;
            

            #rouga{
                display: flex;
                align-items: center;
                justify-content: center;
                height: 3rem;
                width: 10rem;
                background-color: black;
                opacity: 0.75;
                color: white;
                text-align: center;
                font-size: 85%;
            };
            #blacka{
                display: flex;
                align-items: center;
                justify-content: center;
                height: 3rem;
                width: 10rem;
                background-color: tomato;
                opacity: 0.75;
                text-align: center;
                font-size: 85%; 
            };
        };


        div{
            img{
                height: 25vh;
                width: 100%;
                object-fit: cover;
                
            }
        };
        .para-gallS{
            text-align: center;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        };
        .rouge-gallS{
            color: red;
            text-align: center;
            font-size: 120%;
        };
        // .img-box{
        //     position: relative;
        // };


        .sale-border-div{
            display: flex;
            justify-content: center;
            align-items: center;
        .redborder{
            border-radius: 50em/50em;
            background-color: red;
            height: 40px;
            width: 65px;
            text-align:center;
            padding-top: 10%;
            margin-right: 5%;
            color: white;

        }

        .price-div{


        p{
                max-width: 25%;
                color: black;
                font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
        };
        .rouge-gall{
            color: red;
        }
        .textBarre{
            text-decoration:line-through;
            color: grey;
        };
        };
    };
    
    };
    // .div-img-gall:hover{
    //     z-index: 1;
    //     transform: scale(1.25);
    //     .double{
    //         opacity: 1;
    //     }
    // };
    };
};

@media (min-width:320px) and (max-width:640px){
    #gallerie{
        flex-direction: column;

        .div-gall{
        .div-img-gall{
            width: 15%;  
            margin: 2%;
    
            div{
                img{
                    height: 120%;
                    width: 120%;
                }
            };
            .para-gallS{
                font-size: 75%
            };
            .rouge-gallS{
                font-size: 75%
            };

    
        .sale-border-div{
            display: flex;
            justify-content: center;
            align-items: center;
            .redborder{
                display: none;
            };
 
            .price-div{
            p{
                    font-size: 45%;
                    color: black;
                    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
            };
            .rouge-gall{
                color: red;
                font-size: 45%;

            }
            .textBarre{
                text-decoration:line-through;
                color: grey;
                font-size: 45%;

                
            };
            };
        };
        };
        };
    };
};





@media (min-width:641px) and (max-width:960px){
    #gallerie{
        flex-direction: column;

        .div-gall{
        .div-img-gall{
            width: 15%;  
            margin: 2%;
    
            div{
                img{
                    height: 120%;
                    width: 120%;
                }
            };
            .para-gallS{
                font-size: 75%
            };
            .rouge-gallS{
                font-size: 75%
            };

    
        .sale-border-div{
            display: flex;
            justify-content: center;
            align-items: center;
            .redborder{
                display: none;
            };
 
            .price-div{
            p{
                    font-size: 55%;
                    color: black;
                    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
            };
            .rouge-gall{
                color: red;
                font-size: 55%;

            }
            .textBarre{
                text-decoration:line-through;
                color: grey;
                font-size: 55%;     
            };
            };
        };
        };
        };
    };
};