#section-6{
    display: flex;
    justify-content: space-around;
    align-items: center;


    .div-section-6{
        height: 350px;
        flex-direction: column;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #F3F3F3;
        width: 31%;
 
        

        // rgba(223,67,64,255)
        i{
            font-size: 150%;
        }
        h1{
            text-align:center;
            font-size: 150%;
            color: black;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

        };
        p{
            text-align:center;
            color: grey;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            width: 80%;
        }
        button{
            text-align: center;
            background-color: #1E314D;
            color: white;
            padding: 1%;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        };

    };

    .div-section-62{
        height: 350px;
        flex-direction: column;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: rgba(223,67,64,255);
        width: 31%;

        i{
            font-size: 150%;
        };
        h1{
            text-align:center;
            font-size: 150%;
            color: white;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        };
        p{
            text-align:center;
            color: #5D656C;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            width: 80%;
        };
        button{
            text-align: center;
            color: #1E314D;
            padding: 1%;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        };
    };
};

@media (min-width:320px) and (max-width:640px){
    #section-6{
       flex-direction: column;

        .div-section-6{
            height: 300px;
            width: 100%;
        };
    
        .div-section-62{
            height: 300px;
            width: 100%;
        };
    };
};


@media (min-width:641px) and (max-width:940px){
    #section-6{
       flex-direction: column;

        .div-section-6{
            height: 300px;
            width: 100%;
        };
    
        .div-section-62{
            height: 300px;
            width: 100%;
        };
    };
};
